  .container {
    display: flex;
    text-align: center;
    height: 100vh

  }
  .right, .left {
    flex:1;
  }

  .right {
    padding-top: 2rem;
    background-color: rgba(32, 133, 93, 0.77);
    border-left-color: #0A7847;
    border-left-width: 1px;
  }
